*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
}

#nav{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

#nav-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#nav h3{
    font-weight: 500;
    font-size: 16px;
    border: 1.5px solid #111;
    padding: 5px 10px;
    border-radius: 50px;
}

#nav i{
    font-weight: 600;
    font-size: 16px;
    border: 1.5px solid #111;
    padding: 5px 10px;
    border-radius: 50px;
}

#nav h1{
    font-weight: 600;
    font-size: 22px;
    text-transform: uppercase;
}

#nav button {
    padding: 7px 12px;
    border-radius: 50px;
    border: 1.5px solid #000;
    font-size: 16px;
    font-weight: 600;
}

.btn2 {
    border: none;
    background-color: orangered;
    color: white;
}

#main>h1{
    font-size: 120px;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

img{
    height: 400px;
    width: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    object-fit: cover;
    border-radius: 20px;
}

#img1{
    transform: translate(-50%, -50%) rotate(-30deg);
}

#img2{
    transform: translate(-50%, -50%) rotate(-20deg);
}

#img3{
    transform: translate(-50%, -50%) rotate(-10deg);
}

#img4{
    transform: translate(-50%, -50%) rotate(0deg);
}

#btm-left{
    position: absolute;
    bottom: 8%;
    left: 3%;
    font-size: 17px;
}

#btm-right1{
    position: absolute;
    bottom: 8%;
    right: 3%;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#btm-right2{
    position: absolute;
    bottom: 8%;
    right: 5%;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#btm-right3{
    position: absolute;
    bottom: 8%;
    right: 7%;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}